## Full hg19 Repeat Masker

In [99]:
import pandas as pd
import numpy as np

In [2]:
#sample built with bash command (after conda install coreutils)
#shuf hg38.fa.out | head -n 1000 > sample_hg38.fa.out

In [25]:
repeat_df = pd.read_csv("../download/RepeatMasker/hg19.fa.out", sep=r"\s+",skiprows=2,header=None, index_col=False)

In [26]:
repeat_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,463,1.3,0.6,1.7,chr1,10001,10468,(249240153),+,(TAACCC)n,Simple_repeat,1,463,(0),1.0
1,3612,11.4,21.5,1.3,chr1,10469,11447,(249239174),C,TAR1,Satellite/telo,(399),1712,483,2.0
2,484,25.1,13.2,0.0,chr1,11505,11675,(249238946),C,L1MC5a,LINE/L1,(2382),5648,5452,3.0
3,239,29.4,1.9,1.0,chr1,11678,11780,(249238841),C,MER5B,DNA/hAT-Charlie,(74),104,1,4.0
4,318,23.0,3.7,0.0,chr1,15265,15355,(249235266),C,MIR3,SINE/MIR,(119),143,49,5.0
5,18,23.2,0.0,2.0,chr1,15798,15849,(249234772),+,(TGCTCC)n,Simple_repeat,1,51,(0),6.0
6,18,13.7,0.0,0.0,chr1,16713,16744,(249233877),+,(TGG)n,Simple_repeat,1,32,(0),7.0
7,239,33.8,12.9,0.0,chr1,18907,19048,(249231573),+,L2a,LINE/L2,2942,3104,(322),8.0
8,994,31.2,6.0,2.5,chr1,19972,20405,(249230216),+,L3,LINE/CR1,2680,3129,(970),9.0
9,270,33.1,0.7,2.7,chr1,20531,20679,(249229942),+,Plat_L3,LINE/CR1,2802,2947,(639),10.0
10,254,27.9,4.7,3.9,chr1,21949,22075,(249228546),+,MLT1K,LTR/ERVL-MaLR,15,142,(453),11.0
11,787,28.2,3.8,0.3,chr1,23120,23371,(249227250),C,MIR,SINE/MIR,(6),262,4,12.0
12,249,28.4,17.6,4.3,chr1,23804,23824,(249226797),+,L2a,LINE/L2,2940,3051,(336),13.0
13,312,29.7,18.1,1.1,chr1,23825,24011,(249226610),+,L2b,LINE/L2,2955,3180,(195),14.0
14,249,28.4,17.6,4.3,chr1,24012,24038,(249226583),+,L2a,LINE/L2,3052,3212,(175),13.0
15,413,24.2,24.1,1.2,chr1,24088,24250,(249226371),+,MIR,SINE/MIR,49,260,(2),15.0
16,299,30.6,2.3,12.4,chr1,24255,24448,(249226173),+,L2a,LINE/L2,3213,3453,(11),13.0
17,224,16.6,4.9,4.0,chr1,26356,26412,(249224209),+,MIR1_Amn,SINE/MIR,102,161,(69),16.0
18,241,30.3,18.6,3.1,chr1,26583,26790,(249223831),C,L2c,LINE/L2,(14),3373,3116,17.0
19,2070,9.5,0.4,0.0,chr1,26791,27053,(249223568),+,AluSp,SINE/Alu,1,264,(49),18.0
20,241,30.3,18.6,3.1,chr1,27054,27137,(249223484),C,L2c,LINE/L2,(272),3115,3026,17.0
21,1300,14.6,6.4,0.1,chr1,27269,27518,(249223103),+,MER33,DNA/hAT-Charlie,1,254,(70),19.0
22,275,33.6,8.6,2.0,chr1,27833,28014,(249222607),C,MIRb,SINE/MIR,(70),198,1,20.0
23,304,32.0,5.8,3.3,chr1,28151,28302,(249222319),C,MIR,SINE/MIR,(8),254,99,21.0
24,12,15.7,4.2,6.4,chr1,29745,29792,(249220829),+,(ACGCCC)n,Simple_repeat,1,47,(0),22.0
25,1323,19.9,2.7,2.0,chr1,29902,30198,(249220423),+,L1MB3,LINE/L1,5883,6181,(2),23.0
26,979,14.4,3.1,1.6,chr1,30343,30532,(249220089),C,MER53,DNA/hAT,(0),193,1,24.0
27,741,18.7,4.3,0.0,chr1,30694,30848,(249219773),+,MLT1A,LTR/ERVL-MaLR,1,162,(212),25.0
28,55,13.1,0.0,3.2,chr1,30855,30952,(249219669),+,(TC)n,Simple_repeat,1,95,(0),26.0
29,741,24.9,0.0,1.1,chr1,30953,31131,(249219490),+,MLT1A,LTR/ERVL-MaLR,173,349,(25),25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5467427,4500,23.5,16.4,5.1,chrUn_gl000247,22643,23447,(12975),+,L1MCa,LINE/L1,4554,5402,(919),4562631.0
5467428,1185,15.8,9.9,0.0,chrUn_gl000247,23448,23656,(12766),C,Tigger4a,DNA/TcMar-Tigger,(3),233,2,4562648.0
5467429,4500,23.5,16.4,5.1,chrUn_gl000247,23657,23718,(12704),+,L1MCa,LINE/L1,5403,5460,(861),4562631.0
5467430,13,22.8,0.0,0.0,chrUn_gl000247,23930,23965,(12457),+,A-rich,Low_complexity,1,36,(0),4562649.0
5467431,1378,20.1,17.2,3.5,chrUn_gl000247,24750,25175,(11247),+,L1MB3,LINE/L1,5281,5792,(391),4562650.0
5467432,44,3.4,4.8,1.6,chrUn_gl000247,25176,25237,(11185),+,(AT)n,Simple_repeat,1,64,(0),4562651.0
5467433,1378,24.6,14.8,1.1,chrUn_gl000247,25238,25560,(10862),+,L1MB3,LINE/L1,5792,6174,(6),4562650.0
5467434,743,22.9,7.1,1.8,chrUn_gl000247,25582,25592,(10830),+,L1MEf,LINE/L1,1963,1972,(4270),4562652.0
5467435,1717,17.5,0.7,1.7,chrUn_gl000247,25593,25883,(10539),C,AluJb,SINE/Alu,(24),288,1,4562653.0
5467436,743,22.9,7.1,1.8,chrUn_gl000247,25884,25994,(10428),+,L1MEf,LINE/L1,1973,2086,(4156),4562652.0
5467437,1786,19.8,0.7,0.0,chrUn_gl000247,25995,26302,(10120),+,AluSz6,SINE/Alu,1,310,(2),4562654.0
5467438,1047,26.1,10.8,4.4,chrUn_gl000247,26303,27079,(9343),+,L1MEf,LINE/L1,2087,2933,(3213),4562652.0
5467439,258,33.8,9.3,0.0,chrUn_gl000247,27109,27244,(9178),+,MLT1H1,LTR/ERVL-MaLR,5,154,(401),4562655.0
5467440,323,22.8,15.3,5.4,chrUn_gl000247,27408,27611,(8811),+,MLT1H1,LTR/ERVL-MaLR,352,579,(0),4562655.0
5467441,490,32.5,5.3,7.2,chrUn_gl000247,27617,28017,(8405),+,MLT1H1-int,LTR/ERVL-MaLR,6,398,(1011),4562655.0
5467442,20,21.1,0.0,0.0,chrUn_gl000247,28041,28079,(8343),+,A-rich,Low_complexity,1,39,(0),4562656.0
5467443,423,20.2,9.5,3.9,chrUn_gl000247,28553,28681,(7741),+,MLT1H1-int,LTR/ERVL-MaLR,1273,1409,(0),4562655.0
5467444,756,27.5,15.1,8.0,chrUn_gl000247,28681,29187,(7235),+,MLT1H1,LTR/ERVL-MaLR,1,594,(1),4562655.0
5467445,2314,10.7,0.7,0.0,chrUn_gl000247,29913,30220,(6202),+,AluSp,SINE/Alu,1,310,(3),4562657.0
5467446,2386,15.0,1.2,10.5,chrUn_gl000247,30616,31092,(5330),+,MER57A1,LTR/ERV1,1,432,(0),4562658.0
5467447,4234,20.4,5.7,2.0,chrUn_gl000247,31277,32485,(3937),+,MER52A,LTR/ERV1,502,1755,(0),4562659.0
5467448,4199,13.4,3.5,3.6,chrUn_gl000247,32486,33402,(3020),+,MER57-int,LTR/ERV1,88,1004,(4942),4562658.0
5467449,2189,12.6,0.3,0.3,chrUn_gl000247,33431,33739,(2683),+,AluSp,SINE/Alu,1,309,(4),4562660.0
5467450,10304,12.3,4.4,4.5,chrUn_gl000247,33742,34273,(2149),+,MER57-int,LTR/ERV1,4349,4914,(2623),4562661.0
5467451,2226,11.1,0.7,0.0,chrUn_gl000247,34274,34571,(1851),C,AluY,SINE/Alu,(11),300,1,4562662.0
5467452,10304,12.3,4.4,4.5,chrUn_gl000247,34572,34621,(1801),+,MER57-int,LTR/ERV1,4915,4954,(2583),4562661.0
5467453,2081,13.1,0.3,0.0,chrUn_gl000247,34622,34912,(1510),C,AluSq2,SINE/Alu,(17),296,5,4562663.0
5467454,10304,12.3,4.4,4.5,chrUn_gl000247,34913,35213,(1209),+,MER57-int,LTR/ERV1,4955,5218,(2319),4562661.0
5467455,2355,10.6,0.7,0.0,chrUn_gl000247,35214,35516,(906),+,AluSz,SINE/Alu,1,305,(7),4562664.0
5467456,10304,12.3,4.4,4.5,chrUn_gl000247,35517,36422,(0),+,MER57-int,LTR/ERV1,5219,6139,(1398),4562661.0

In [27]:
repeat_df.columns = ['SW_score', 'perc_div', 'perc_del', 'perc_ins', 'query_sequence', 
                     'pos_in_query_begin', 'pos_in_query_end', 'pos_in_query_left', 'match_with_seq', 
                     'matching_repeat', 'repeat_class_family', 
                     'pos_in_repeat_begin', 'pos_in_repeat_end', 'pos_in_repeat_left', 'ID']

In [115]:
nan_IDs = repeat_df.isnull().query("ID == True").index.values
#1364311
#1495373

In [123]:
nan_IDs.size

2

In [117]:
max(repeat_df.ID)

4562664.0

In [118]:


for el in nan_IDs:
    new_id = max(repeat_df.ID) + 1
    repeat_df.set_value(el, 'ID', new_id)
    print(el)

1364311
1495373

In [121]:
repeat_df['ID'] = repeat_df.ID.astype(int).astype(str)

In [124]:
repeat_df.head()

,SW_score,perc_div,perc_del,perc_ins,query_sequence,pos_in_query_begin,pos_in_query_end,pos_in_query_left,match_with_seq,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,ID
0,463,1.3,0.6,1.7,chr1,10001,10468,(249240153),+,(TAACCC)n,Simple_repeat,1,463,(0),1
1,3612,11.4,21.5,1.3,chr1,10469,11447,(249239174),C,TAR1,Satellite/telo,(399),1712,483,2
2,484,25.1,13.2,0.0,chr1,11505,11675,(249238946),C,L1MC5a,LINE/L1,(2382),5648,5452,3
3,239,29.4,1.9,1.0,chr1,11678,11780,(249238841),C,MER5B,DNA/hAT-Charlie,(74),104,1,4
4,318,23.0,3.7,0.0,chr1,15265,15355,(249235266),C,MIR3,SINE/MIR,(119),143,49,5

In [125]:
repeat_df['query_sequence'].unique()

array(['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chrX',
       'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14',
       'chr15', 'chr16', 'chr17', 'chr18', 'chr20', 'chrY', 'chr19',
       'chr22', 'chr21', 'chr6_ssto_hap7', 'chr6_mcf_hap5',
       'chr6_cox_hap2', 'chr6_mann_hap4', 'chr6_apd_hap1', 'chr6_qbl_hap6',
       'chr6_dbb_hap3', 'chr17_ctg5_hap1', 'chr4_ctg9_hap1',
       'chr1_gl000192_random', 'chr4_gl000194_random', 'chrUn_gl000225',
       'chr4_gl000193_random', 'chr9_gl000200_random', 'chrUn_gl000212',
       'chrUn_gl000222', 'chr7_gl000195_random', 'chrUn_gl000223',
       'chrUn_gl000219', 'chrUn_gl000224', 'chr17_gl000205_random',
       'chrUn_gl000215', 'chrUn_gl000216', 'chrUn_gl000217',
       'chr9_gl000199_random', 'chrUn_gl000211', 'chrUn_gl000213',
       'chrUn_gl000218', 'chrUn_gl000220', 'chr19_gl000209_random',
       'chrUn_gl000214', 'chrUn_gl000221', 'chr19_gl000208_random',
       'chr1_gl000191_random', 'chrUn_gl000227', 'chrUn_gl000228',
       'chr17_gl000204_random', 'chr9_gl000198_random', 'chrUn_gl000230',
       'chrUn_gl000233', 'chrUn_gl000236', 'chrUn_gl000237',
       'chrUn_gl000241', 'chrUn_gl000242', 'chrUn_gl000243',
       'chr11_gl000202_random', 'chr17_gl000203_random',
       'chr17_gl000206_random', 'chr8_gl000196_random', 'chrUn_gl000232',
       'chrUn_gl000234', 'chrUn_gl000238', 'chrUn_gl000240',
       'chrUn_gl000244', 'chrUn_gl000246', 'chrUn_gl000248',
       'chrUn_gl000249', 'chr18_gl000207_random', 'chr21_gl000210_random',
       'chr8_gl000197_random', 'chr9_gl000201_random', 'chrM',
       'chrUn_gl000226', 'chrUn_gl000229', 'chrUn_gl000231',
       'chrUn_gl000235', 'chrUn_gl000239', 'chrUn_gl000245',
       'chrUn_gl000247'], dtype=object)

In [126]:
chrom_list = ['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chrX',
       'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14',
       'chr15', 'chr16', 'chr17', 'chr18', 'chr20', 'chrY', 'chr19',
       'chr22', 'chr21']
repeat_filtered_df = repeat_df.query("query_sequence in @chrom_list")

In [127]:
repeat_filtered_df[['query_sequence', 'ID']].groupby(
    ['query_sequence']).agg(['count'])

                    ID
                 count
query_sequence
chr1            450101
chr10           245260
chr11           249829
chr12           258926
chr13           164806
chr14           165690
chr15           159267
chr16           175256
chr17           170626
chr18           131164
chr19           136018
chr2            429496
chr20           127979
chr21            61307
chr22            77518
chr3            360010
chr4            326671
chr5            317245
chr6            296327
chr7            288093
chr8            261252
chr9            230855
chrX            274738
chrY             40999

In [128]:
repeat_filtered_df[['query_sequence', 'matching_repeat', 'repeat_class_family', 'ID']].groupby(
    ['repeat_class_family']).agg(['count'])

                    query_sequence matching_repeat       ID
                             count           count    count
repeat_class_family
DNA                           6481            6481     6481
DNA/Kolobok                    232             232      232
DNA/MULE-MuDR                 1936            1936     1936
DNA/Merlin                      57              57       57
DNA/PIF-Harbinger               30              30       30
DNA/PiggyBac                  2109            2109     2109
DNA/TcMar                     1812            1812     1812
DNA/TcMar-Mariner            16308           16308    16308
DNA/TcMar-Pogo                  37              37       37
DNA/TcMar-Tc1                  644             644      644
DNA/TcMar-Tc2                 8094            8094     8094
DNA/TcMar-Tigger            124416          124416   124416
DNA/TcMar?                     167             167      167
DNA/hAT                       8796            8796     8796
DNA/hAT-Ac                    5478            5478     5478
DNA/hAT-Blackjack            19571           19571    19571
DNA/hAT-Charlie             263295          263295   263295
DNA/hAT-Tag1                  2294            2294     2294
DNA/hAT-Tip100               53071           53071    53071
DNA/hAT-Tip100?               2382            2382     2382
DNA/hAT?                      2047            2047     2047
DNA?                          3493            3493     3493
DNA?/PiggyBac?                 294             294      294
DNA?/hAT-Tip100?               520             520      520
LINE/CR1                     67846           67846    67846
LINE/Dong-R4                   550             550      550
LINE/Jockey                    221             221      221
LINE/L1                     937520          937520   937520
LINE/L1-Tx1                    189             189      189
LINE/L2                     518762          518762   518762
...                            ...             ...      ...
LTR/ERVK                     10515           10515    10515
LTR/ERVL                    160934          160934   160934
LTR/ERVL-MaLR               347538          347538   347538
LTR/ERVL?                     3870            3870     3870
LTR/Gypsy                    17852           17852    17852
LTR/Gypsy?                    7727            7727     7727
LTR?                          8361            8361     8361
Low_complexity               98488           98488    98488
RC/Helitron                   1791            1791     1791
RC?/Helitron?                  435             435      435
RNA                            719             719      719
Retroposon/SVA                5420            5420     5420
SINE/5S-Deu-L2                2603            2603     2603
SINE/Alu                   1177252         1177252  1177252
SINE/MIR                    594372          594372   594372
SINE/tRNA                     2285            2285     2285
SINE/tRNA-Deu                  658             658      658
SINE/tRNA-RTE                 5796            5796     5796
SINE?/tRNA                       5               5        5
Satellite                     3864            3864     3864
Satellite/acro                  44              44       44
Satellite/centr               1772            1772     1772
Satellite/telo                 354             354      354
Simple_repeat               671754          671754   671754
Unknown                       6415            6415     6415
rRNA                          1726            1726     1726
scRNA                         1806            1806     1806
snRNA                         4279            4279     4279
srpRNA                        1366            1366     1366
tRNA                          1768            1768     1768

[66 rows x 3 columns]

In [200]:
repeat_filtered_df.head()

,SW_score,perc_div,perc_del,perc_ins,query_sequence,pos_in_query_begin,pos_in_query_end,pos_in_query_left,match_with_seq,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,ID
0,463,1.3,0.6,1.7,chr1,10001,10468,(249240153),+,(TAACCC)n,Simple_repeat,1,463,(0),1
1,3612,11.4,21.5,1.3,chr1,10469,11447,(249239174),C,TAR1,Satellite/telo,(399),1712,483,2
2,484,25.1,13.2,0.0,chr1,11505,11675,(249238946),C,L1MC5a,LINE/L1,(2382),5648,5452,3
3,239,29.4,1.9,1.0,chr1,11678,11780,(249238841),C,MER5B,DNA/hAT-Charlie,(74),104,1,4
4,318,23.0,3.7,0.0,chr1,15265,15355,(249235266),C,MIR3,SINE/MIR,(119),143,49,5

In [147]:
repeat_classes = repeat_filtered_df.repeat_class_family.unique()

In [148]:
repeat_classes

array(['Simple_repeat', 'Satellite/telo', 'LINE/L1', 'DNA/hAT-Charlie',
       'SINE/MIR', 'LINE/L2', 'LINE/CR1', 'LTR/ERVL-MaLR', 'SINE/Alu',
       'DNA/hAT', 'LTR/ERVL', 'LTR', 'LTR/ERV1', 'DNA/hAT-Tip100',
       'Low_complexity', 'DNA/TcMar-Tigger', 'LTR/ERVL?', 'LTR/ERV1?',
       'LINE/RTE-X', 'LTR?', 'LTR/ERVK', 'snRNA', 'Retroposon/SVA',
       'DNA/MULE-MuDR', 'tRNA', 'DNA?', 'LTR/Gypsy', 'DNA/hAT-Blackjack',
       'Unknown', 'Satellite', 'DNA/hAT-Tag1', 'srpRNA', 'DNA/hAT-Ac',
       'rRNA', 'DNA/TcMar-Tc2', 'SINE/tRNA-Deu', 'LINE/RTE-BovB', 'scRNA',
       'SINE/5S-Deu-L2', 'DNA/PiggyBac', 'DNA/hAT?', 'DNA',
       'DNA/TcMar-Mariner', 'RC/Helitron', 'LTR/Gypsy?', 'DNA/hAT-Tip100?',
       'SINE/tRNA-RTE', 'SINE/tRNA', 'LINE/Jockey', 'LINE/Penelope',
       'LINE/Dong-R4', 'DNA/TcMar-Tc1', 'RNA', 'DNA/Kolobok', 'DNA/TcMar',
       'Satellite/centr', 'RC?/Helitron?', 'DNA?/hAT-Tip100?',
       'DNA/Merlin', 'DNA?/PiggyBac?', 'DNA/TcMar-Pogo', 'LINE/L1-Tx1',
       'DNA/TcMar?', 'Satellite/acro', 'DNA/PIF-Harbinger', 'SINE?/tRNA'], dtype=object)

## SINE/Alu Analysis

In [201]:
sine_alu_df = pd.DataFrame()

In [210]:
sine_alu_df = repeat_filtered_df.query("repeat_class_family == 'SINE/Alu'")
sine_alu_df.reset_index(inplace=True, drop=True)

In [211]:
len(sine_alu_df)

1177252

In [212]:
import pybedtools
from pybedtools import BedTool
a = pybedtools.example_bedtool('a.bed')

In [213]:
a

In [214]:
a.to_dataframe().columns

Index(['chrom', 'start', 'end', 'name', 'score', 'strand'], dtype='object')

In [215]:
sine_alu_df.match_with_seq.unique()

array(['+', 'C'], dtype=object)

In [216]:
#ID is not the ID of the interval match
len(sine_alu_df.ID.unique()) == len(sine_alu_df)

False

In [217]:
sine_alu_df.head()

,SW_score,perc_div,perc_del,perc_ins,query_sequence,pos_in_query_begin,pos_in_query_end,pos_in_query_left,match_with_seq,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,ID
0,2070,9.5,0.4,0.0,chr1,26791,27053,(249223568),+,AluSp,SINE/Alu,1,264,(49),18
1,2059,14.1,0.3,0.3,chr1,31436,31733,(249218888),+,AluJo,SINE/Alu,1,298,(14),28
2,233,25.0,0.0,0.0,chr1,33466,33509,(249217112),+,Alu,SINE/Alu,1,44,(89),31
3,1000,13.5,0.0,0.0,chr1,35367,35499,(249215122),+,AluJr,SINE/Alu,1,133,(179),37
4,2292,12.0,0.0,0.0,chr1,39624,39924,(249210697),+,AluSx,SINE/Alu,1,301,(11),42

In [218]:
bed_df = pd.DataFrame(columns=['chrom', 'start', 'end', 'name', 'score', 'strand'])

In [229]:
bed_df.chrom = sine_alu_df.query_sequence
bed_df.start = sine_alu_df.pos_in_query_begin
bed_df.end = sine_alu_df.pos_in_query_end
bed_df.name = "RepeatMasker" + "." + pd.Series(sine_alu_df.index.values.astype(str)) + "." + sine_alu_df.matching_repeat +"." + sine_alu_df.ID
bed_df.score = sine_alu_df.SW_score
bed_df.strand = "."

In [230]:
bed_df.head()

  chrom  start    end                     name  score strand
0  chr1  26791  27053  RepeatMasker.0.AluSp.18   2070      .
1  chr1  31436  31733  RepeatMasker.1.AluJo.28   2059      .
2  chr1  33466  33509    RepeatMasker.2.Alu.31    233      .
3  chr1  35367  35499  RepeatMasker.3.AluJr.37   1000      .
4  chr1  39624  39924  RepeatMasker.4.AluSx.42   2292      .

In [232]:
bed = BedTool.from_dataframe(bed_df)

In [234]:
store = pd.HDFStore("../storage/repeatmasker_staging.hdf")

In [235]:
store.keyse()

AttributeError: 'HDFStore' object has no attribute 'keyse'